<header>
  <nav class = "navbar navbar-default" role = "navigation">

  <h1>
    <a href="/tracks">Track Adder</a>
  </h1>
  <div class="login-info">
      <a href="/tracks/signup">Signup</a>
      <a href="/tracks/login">Login</a>
  </div>
  </nav>
</header>