<% if @track.errors.any? %>
  <div>
    <strong>Some issues with your tracks</strong>
    <ul>
      <% @track.errors.full_messages.each do |message| %>
        <li><%= track %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
<form method="post" action="/tracks">
  <div>
    <label>Title:</label>
    <input type="text" name="title" value="<% @track.title %>">
  </div>
  <div>
    <label>Author:</label>
    <input type="text" name="author" value="<% @track.author %>">
  </div>
  <div>
    <label>URL:</label>
    <input type="text" name="urls" value="<% @track.url %>">
  </div>
  <div>
    <input type="submit" value="Submit">
  </div>
</form>