<form action="/tracks/signup" method="POST">
  <div class="form-group">
    <label for="username">Username</label>
    <input type="text" id="username" name="username" value="<% @user.username %>">
  </div>

  <div class="form-group">
    <label for="password">Password</label>
    <input type="text" id="password" name="password" value="<% @user.password %>">
  </div>

  <div class="form-group">
    <button class="button" type="submit">Signup</button>
  </div>
</form>
